<div class="content-wrapper">
  <section class="primary" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Angular Assignment</h2>
          <hr class="star-primary">
        </div>
      </div>
    </div>
  </section>
  <section class="primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
</div>